# Игнорировать каталоги временных файлов или резервных копий
pycache/
__pycache__/
.vscode/
.idea/
.backup/
# Игнорировать файлы журналов или файлы вывода отладки
*.log
log/
debug.log
# Игнорировать файлы и папки сборки проекта
build/
dist/
*.exe
# Игнорировать зависимости и виртуальные окружения
venv/
env/
.venv/